@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body,
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  overflow: hidden;
}

.icon {
  width: 35px;
  height: 35px;
}

.weather-app {
  height: 100vh;
  overflow-y: auto;
  position: relative;
  text-align: center;
  padding: 0.1rem;
  background: url(../utilitys/pictures/sunnySkyDay.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.weather-app #searchIcon {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  border: 0;
  color: white;
  backdrop-filter: blur(40px);
  border-radius: 10px;
}
.weather-app .locationHeader {
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
@media screen and (min-width: 600px) {
  .weather-app .locationHeader {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1000px) {
  .weather-app .locationHeader {
    font-size: 2.2rem;
  }
}
.weather-app .currentWeather {
  color: white;
  text-shadow: 2px 1px 9px rgb(0, 0, 0);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.weather-app .currentWeather .currentTemperature {
  font-size: 1.5rem;
}
@media screen and (min-width: 600px) {
  .weather-app .currentWeather .currentTemperature {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1000px) {
  .weather-app .currentWeather .currentTemperature {
    font-size: 2.2rem;
  }
}
.weather-app .currentWeather .currentCondition {
  font-size: 0.7rem;
}
@media screen and (min-width: 600px) {
  .weather-app .currentWeather .currentCondition {
    font-size: 1rem;
  }
}
.weather-app .currentWeather .currentTemperatureRange {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
}
.weather-app .currentWeather .currentTemperatureRange .currentMaxTemperature {
  text-align: right;
}
.weather-app .currentWeather .currentTemperatureRange .currentMinTemperature {
  text-align: left;
}
.weather-app .currentWeather .currentTemperatureRange .currentMaxTemperature,
.weather-app .currentWeather .currentTemperatureRange .currentMinTemperature {
  flex: 1;
  font-size: 0.7rem;
}
@media screen and (min-width: 600px) {
  .weather-app .currentWeather .currentTemperatureRange .currentMaxTemperature,
  .weather-app .currentWeather .currentTemperatureRange .currentMinTemperature {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1000px) {
  .weather-app .currentWeather .currentTemperatureRange .currentMaxTemperature,
  .weather-app .currentWeather .currentTemperatureRange .currentMinTemperature {
    font-size: 1.2rem;
  }
}
.weather-app .hourlyForecastSection {
  width: 80vw;
  padding: 0.8rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  backdrop-filter: blur(40px);
  border-radius: 20px;
  color: white;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  margin-bottom: 1rem;
}
.weather-app .hourlyForecastSection .hourlyForecastHeader {
  display: flex;
  align-items: flex-start;
  font-size: 0.7rem;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
@media screen and (min-width: 600px) {
  .weather-app .hourlyForecastSection .hourlyForecastHeader {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1000px) {
  .weather-app .hourlyForecastSection .hourlyForecastHeader {
    font-size: 1.2rem;
  }
}
.weather-app .hourlyForecastSection .hourlyForecastWrapper {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0 0.2rem;
}
.weather-app .hourlyForecastSection .hourlyForecast {
  display: inline-block;
  margin-right: 10px;
  font-size: 0.7rem;
}
@media screen and (min-width: 600px) {
  .weather-app .hourlyForecastSection .hourlyForecast {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1000px) {
  .weather-app .hourlyForecastSection .hourlyForecast {
    font-size: 1rem;
  }
}
.weather-app .hourlyForecastSection .weatherIcon {
  width: 35px;
  height: 35px;
}
@media screen and (min-width: 1200px) {
  .weather-app .hourlyForecastSection {
    max-width: 1000px;
  }
}
.weather-app .forecast3Days {
  width: 80vw;
  padding: 0.8rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  backdrop-filter: blur(40px);
  border-radius: 20px;
  color: white;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
.weather-app .forecast3Days .forecastHeader {
  display: flex;
  align-items: flex-start;
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  margin-bottom: 0.3rem;
}
@media screen and (min-width: 600px) {
  .weather-app .forecast3Days .forecastHeader {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1000px) {
  .weather-app .forecast3Days .forecastHeader {
    font-size: 1.2rem;
  }
}
.weather-app .forecast3Days .forecast {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 0.7rem;
}
.weather-app .forecast3Days .forecast .forecastDay {
  width: 100px;
}
.weather-app .forecast3Days .forecast .forecastDay,
.weather-app .forecast3Days .forecast .forecastTemp {
  display: flex;
  align-items: center;
  gap: 10vw;
  padding: 5px;
}
.weather-app .forecast3Days .forecast .forecastTemp {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.weather-app .forecast3Days .forecast .forecastTemp .forecastTempMin,
.weather-app .forecast3Days .forecast .forecastTemp .forecastTempMax {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 600px) {
  .weather-app .forecast3Days .forecast {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1000px) {
  .weather-app .forecast3Days .forecast {
    font-size: 1rem;
  }
}
.weather-app .forecast3Days .weatherIcon {
  width: 35px;
  height: 35px;
}
@media screen and (min-width: 1200px) {
  .weather-app .forecast3Days {
    max-width: 1000px;
  }
}
.weather-app .forecastAddons {
  width: 80vw;
  padding: 0.8rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  backdrop-filter: blur(40px);
  border-radius: 20px;
  color: white;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  margin-top: 0.4rem;
}
.weather-app .forecastAddons .forecastHeader {
  display: flex;
  align-items: flex-start;
  display: flex;
  align-items: center;
  font-size: 0.7rem;
  margin-bottom: 0.3rem;
}
@media screen and (min-width: 600px) {
  .weather-app .forecastAddons .forecastHeader {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1000px) {
  .weather-app .forecastAddons .forecastHeader {
    font-size: 1.2rem;
  }
}
.weather-app .forecastAddons .addon-Wrapper {
  display: flex;
  flex-direction: column;
}
.weather-app .forecastAddons .humidity-Wrapper,
.weather-app .forecastAddons .wind-kph-Wrapper,
.weather-app .forecastAddons .wind-Direction-Wrapper {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  justify-content: space-between;
  margin-bottom: 0.2rem;
  padding: 5px;
  font-size: 0.7rem;
}
@media screen and (min-width: 600px) {
  .weather-app .forecastAddons .humidity-Wrapper,
  .weather-app .forecastAddons .wind-kph-Wrapper,
  .weather-app .forecastAddons .wind-Direction-Wrapper {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1000px) {
  .weather-app .forecastAddons .humidity-Wrapper,
  .weather-app .forecastAddons .wind-kph-Wrapper,
  .weather-app .forecastAddons .wind-Direction-Wrapper {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .weather-app .forecastAddons {
    max-width: 1000px;
  }
}
.weather-app .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 97%;
  height: 5vh;
  backdrop-filter: blur(50px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  border-radius: 10px;
  border: solid rgba(255, 255, 255, 0.1) 0.5px;
}
.weather-app .footer .bookmarkPages {
  display: flex;
  flex-direction: block;
  overflow-x: auto;
}
.weather-app .footer .bookmarkPage {
  margin: 0.5rem;
  color: white;
}
.weather-app .footer #markedBookmarkButton,
.weather-app .footer #unmarkedBookmarkButton {
  margin: 5px;
  border-radius: 10px;
  background: transparent;
  border: 0;
  color: white;
}
.weather-app .footer .bookmarkPage.selectedBookmark {
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather-app .footer .iconShow {
  display: block;
}
.weather-app .footer .iconHide {
  display: none;
}
.weather-app.backgroundSunnySkyDay {
  background: url(../utilitys/pictures/sunnySkyDay.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.weather-app.backgroundSunnySkyNight {
  background: url(../utilitys/pictures/sunnySkyNight.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.weather-app.backgroundClearlySkyDay {
  background: url(../utilitys/pictures/clearlySkyDay.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.weather-app.backgroundClearlySkyNight {
  background: url(../utilitys/pictures/clearlySkyNight.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.weather-app.backgroundCloudySkyDay {
  background: url(../utilitys/pictures/cloudySkyDay.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.weather-app.backgroundCloudySkyNight {
  background: url(../utilitys/pictures/cloudySkyNight.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.weather-app.backgroundRainySkyDay {
  background: url(../utilitys/pictures/rainySkyDay.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.weather-app.backgroundRainySkyNight {
  background: url(../utilitys/pictures/rainySkyNight.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.weather-app.backgroundStormySkyNight {
  background: url(../utilitys/pictures/stormySkyNight.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.weather-app.backgroundStormySkyDay {
  background: url(../utilitys/pictures/stormySkyDay.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.weather-app.backgroundFoggySkyNight {
  background: url(../utilitys/pictures/foggySkyNight.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.weather-app.backgroundFoggySkyDay {
  background: url(../utilitys/pictures/foggySkyDay.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.weather-app.backgroundThunderySkyNight {
  background: url(../utilitys/pictures/thunderySkyNight.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.weather-app.backgroundThunderySkyDay {
  background: url(../utilitys/pictures/thunderySkyDay.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.showNav {
  height: 40%;
}

.hideNav {
  height: 0%;
}

#searchIcon,
#searchExecute,
#closeButton,
#markedBookmarkButton,
#unmarkedBookmarkButton,
.bookmarkPage {
  cursor: pointer;
}

.overlay {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  z-index: 2;
  transition: 1s;
}
.overlay-content {
  position: relative;
  top: 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.overlay button {
  padding: 8px;
  text-decoration: none;
  font-size: 0.7rem;
  color: #818181;
  display: block;
  transition: 0.3s;
  z-index: 2;
}
.overlay button:hover, .overlay button:focus {
  color: #f1f1f1;
}
@media screen and (min-width: 600px) {
  .overlay button {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1000px) {
  .overlay button {
    font-size: 1.2rem;
  }
}
.overlay #closeButton {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 60px;
  padding: 0;
  margin: 0, 0.5rem, 0, 0;
  background: transparent;
  border: none;
}
.overlay .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.overlay .input {
  padding: 10px;
  height: 40px;
  background: none;
  border: 3px solid #8e8e8e;
  border-radius: 50px;
  box-sizing: border-box;
  font-family: Comic Sans MS;
  font-size: 0.8rem;
  color: white;
  outline: none;
  transition: 0.4s;
  flex-grow: 1;
}
@media screen and (min-width: 600px) {
  .overlay .input {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1000px) {
  .overlay .input {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 600px) {
  .overlay .input.inputNarrow {
    width: 8rem;
  }
}
@media screen and (min-width: 1000px) {
  .overlay .input.inputNarrow {
    width: 11rem;
  }
}
.overlay #searchExecute {
  background: transparent;
  border: 0;
  padding-bottom: 1rem;
  color: white;
  backdrop-filter: blur(40px);
  border-radius: 10px;
  margin-left: 10px;
}
.overlay #searchExecute.icon {
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 600px) {
  .overlay #searchExecute.icon {
    width: 45px;
    height: 45px;
  }
}
@media screen and (min-width: 1000px) {
  .overlay #searchExecute.icon {
    width: 45px;
    height: 45px;
  }
}
.overlay .box:hover input {
  width: 10rem;
  background: #3b3640;
  border-radius: 10px;
}
@media screen and (min-width: 600px) {
  .overlay .box:hover input {
    width: 15rem;
  }
}
@media screen and (min-width: 1000px) {
  .overlay .box:hover input {
    width: 22rem;
  }
}
.overlay .box i {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(-50%, -50%);
  font-size: 26px;
  transition: 0.2s;
}
.overlay .box:hover i {
  opacity: 0;
  z-index: -1;
}
.overlay .inputWide {
  width: 20rem;
}
.overlay .inputNarrow {
  width: 85px;
}

/*# sourceMappingURL=styles.css.map */
