// Font
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Farben
$primary-color: #8e8e8e;
$tertiaryColor: rgba(255, 255, 255, 0.1);
$blurry-background-color: #4a90e2;
$shadowColor: rgba(0, 0, 0, 1);
$textColor: white;
$minTempColor: rgba(255, 255, 255, 0.3);
$underLine: 1px solid rgba(255, 255, 255, 0.2);

// Hintergrundbilder
$backgroundSunny: url(../utilitys/pictures/sunnySkyDay.jpg);

// Schriftgrößen
$headerFontSize: 2.5rem;
$subHeaderFontSize: 1.3rem;
$defaultFontSize: 1rem;

// Allgemeine Einstellungen
* {
  margin: 0;
  padding: 0;
}

body,
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
body {
  overflow: hidden;
}

// Mixins
@mixin textColorCondition() {
  color: $textColor;
  text-shadow: 2px 2px 2px $shadowColor;
}

@mixin blurryBackground() {
  backdrop-filter: blur(40px);
  border: solid $tertiaryColor 1px;
}

@mixin backgroundCondition($scaleWidth: 80vw) {
  width: $scaleWidth;
  padding: 0.8rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: $defaultFontSize;
  backdrop-filter: blur(40px);
  border-radius: 20px;
  @include textColorCondition();
}

@mixin weatherBackgroundCondition {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin headerPosition() {
  display: flex;
  align-items: flex-start;
}

@mixin iconSize($height: 35px, $width: 35px) {
  width: $width;
  height: $height;
}

// Suche und Schließen Icons
#searchIcon {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  border: 0;
  color: $textColor;
  backdrop-filter: blur(40px);
  border-radius: 10px;
}

// Hauptanwendung
.weather-app {
  height: 100vh;
  overflow: hidden;
  position: relative;
  text-align: center;
  padding: 0.1rem;
  background: $backgroundSunny;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

// Ort Header
.locationHeader {
  font-size: $headerFontSize;
  color: $textColor;
  text-shadow: 2px 2px 2px $shadowColor;
}

// Aktuelles Wetter
.currentWeather {
  color: $textColor;
  text-shadow: 2px 1px 9px $shadowColor;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 4rem;
  .currentTemperature {
    font-size: $headerFontSize;
  }
  .currentCondition {
    font-size: $defaultFontSize;
  }
  .currentTemperatureRange {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
    .currentMaxTemperature {
      text-align: right;
    }
    .currentMinTemperature {
      text-align: left;
    }
    .currentMaxTemperature,
    .currentMinTemperature {
      flex: 1;
      font-size: $defaultFontSize;
    }
  }
}

// Stündliche Vorhersage
.hourlyForecastSection {
  @include backgroundCondition();
  margin-bottom: 1rem;
  .hourlyForecastHeader {
    @include headerPosition();
    padding: 0.2rem;
    margin-bottom: 0.5rem;
    border-bottom: $underLine;
  }
  .hourlyForecastWrapper {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0 0.2rem;
  }
  .hourlyForecast {
    display: inline-block;
    margin-right: 10px;
  }
  .weatherIcon {
    @include iconSize();
  }
}

// 7-Tage-Vorhersage
.forecast3Days {
  @include backgroundCondition();
  .forecastHeader {
    @include headerPosition();
    display: flex;
    align-items: center;
    font-size: $defaultFontSize;
    margin-bottom: 0.3rem;
  }
  .forecast {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.2rem;
    border-bottom: $underLine;
    .forecastDay {
      width: 100px;
    }
    .forecastDay,
    .forecastTemp {
      display: flex;
      align-items: center;
      gap: 10vw;
      padding: 5px;
    }
    .forecastTemp {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
      .forecastTempMin,
      .forecastTempMax {
        width: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
  .weatherIcon {
    @include iconSize();
  }
}

.forecastAddons {
  @include backgroundCondition();
  margin-top: 0.4rem;
  .forecastHeader {
    @include headerPosition();
    display: flex;
    align-items: center;
    font-size: $defaultFontSize;
    margin-bottom: 0.3rem;
  }
  .addon-Wrapper {
    display: flex;
    flex-direction: column;
  }
  .humidity-Wrapper,
  .wind-kph-Wrapper,
  .wind-Direction-Wrapper {
    display: flex;
    flex-direction: row;
    border-bottom: $underLine;
    justify-content: space-between;
    margin-bottom: 0.2rem;
  }
}

// Allgemeine Icons
.icon {
  @include iconSize(35px, 35px);
}

// Interaktive Elemente
#searchIcon,
#searchExecute,
#closeButton,
#markedBookmarkButton,
#unmarkedBookmarkButton,
.bookmarkPage {
  cursor: pointer;
}

// Überlagerung
.overlay {
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  z-index: 2;
  transition: 1s;
  &-content {
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  & button {
    padding: 8px;
    text-decoration: none;
    font-size: $defaultFontSize;
    color: #818181;
    display: block;
    transition: 0.3s;
    z-index: 2;
    &:hover,
    &:focus {
      color: #f1f1f1;
    }
  }

  & #closeButton {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 60px;
    padding: 0;
    margin: 0, 0.5rem, 0, 0;
    background: transparent;
    border: none;
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .input {
    padding: 10px;
    width: 85px;
    height: 40px;
    background: none;
    border: 3px solid $primary-color;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: $defaultFontSize;
    color: $textColor;
    outline: none;
    transition: 0.4s;
    flex-grow: 1;
  }

  #searchExecute {
    background: transparent;
    border: 0;
    padding-bottom: 1rem;
    color: $textColor;
    backdrop-filter: blur(40px);
    border-radius: 10px;
    margin-left: 10px;
  }

  .box:hover input {
    width: 10rem;
    background: #3b3640;
    border-radius: 10px;
  }

  .box i {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%, -50%);
    font-size: 26px;
    transition: 0.2s;
  }
  .box:hover i {
    opacity: 0;
    z-index: -1;
  }
  .inputWide {
    width: 20rem;
  }
  .inputNarrow {
    width: 85px;
  }
}

// Navigation und Fußzeile
.showNav {
  height: 40%;
}

.hideNav {
  height: 0%;
}

.footer {
  position: absolute;
  margin-bottom: 0.5rem;
  bottom: 0;
  left: 0;
  right: 0;
  width: 97%;
  height: 5vh;
  backdrop-filter: blur(50px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  border-radius: 10px;
  border: solid $tertiaryColor 0.5px;
}

.bookmarkPages {
  display: flex;
  flex-direction: block;
  overflow-x: auto;
}

.bookmarkPage {
  margin: 0.5rem;
  color: $textColor;
}

#markedBookmarkButton,
#unmarkedBookmarkButton {
  margin: 5px;
  border-radius: 10px;
  background: transparent;
  border: 0;
  color: $textColor;
}

.bookmarkPage {
  &.selectedBookmark {
    width: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.iconShow {
  display: block;
}

.iconHide {
  display: none;
}

// Hintergrundbilder für verschiedene Wetterbedingungen
.weather-app.backgroundSunnySkyDay {
  background: url(../utilitys/pictures/sunnySkyDay.jpg);
  @include weatherBackgroundCondition();
}

.weather-app.backgroundSunnySkyNight {
  background: url(../utilitys/pictures/sunnySkyNight.jpg);
  @include weatherBackgroundCondition();
}

.weather-app.backgroundClearlySkyDay {
  background: url(../utilitys/pictures/clearlySkyDay.jpg);
  @include weatherBackgroundCondition();
}

.weather-app.backgroundClearlySkyNight {
  background: url(../utilitys/pictures/clearlySkyNight.jpg);
  @include weatherBackgroundCondition();
}

.weather-app.backgroundCloudySkyDay {
  background: url(../utilitys/pictures/cloudySkyDay.jpg);
  @include weatherBackgroundCondition();
}

.weather-app.backgroundCloudySkyNight {
  background: url(../utilitys/pictures/cloudySkyNight.jpg);
  @include weatherBackgroundCondition();
}

.weather-app.backgroundRainySkyDay {
  background: url(../utilitys/pictures/rainySkyDay.jpg);
  @include weatherBackgroundCondition();
}

.weather-app.backgroundRainySkyNight {
  background: url(../utilitys/pictures/rainySkyNight.jpg);
  @include weatherBackgroundCondition();
}

.weather-app.backgroundStormySkyNight {
  background: url(../utilitys/pictures/stormySkyNight.jpg);
  @include weatherBackgroundCondition();
}

.weather-app.backgroundStormySkyDay {
  background: url(../utilitys/pictures/stormySkyDay.jpg);
  @include weatherBackgroundCondition();
}

.weather-app.backgroundFoggySkyNight {
  background: url(../utilitys/pictures/foggySkyNight.jpg);
  @include weatherBackgroundCondition();
}

.weather-app.backgroundFoggySkyDay {
  background: url(../utilitys/pictures/foggySkyDay.jpg);
  @include weatherBackgroundCondition();
}

.weather-app.backgroundThunderySkyNight {
  background: url(../utilitys/pictures/thunderySkyNight.jpg);
  @include weatherBackgroundCondition();
}

.weather-app.backgroundThunderySkyDay {
  background: url(../utilitys/pictures/thunderySkyDay.jpg);
  @include weatherBackgroundCondition();
}

// Media Queries

// @media screen and (min-height: 600px) {
//   .weather-app {
//     font-size: 1.2rem;
//   }
//   .locationHeader {
//     font-size: 3rem;
//   }

//   .currentWeather {
//     .currentTemperature {
//       font-size: $headerFontSize;
//     }
//     .currentCondition {
//       font-size: $defaultFontSize;
//     }
//     .currentMaxTemperature,
//     .currentMinTemperature {
//       font-size: $defaultFontSize;
//     }
//   }
//   .overlay {
//     .input {
//       width: 8rem;
//     }
//     .box:hover input {
//       width: 15rem;
//     }
//   }
// }

// @media screen and (min-height: 1000px) {
//   .weather-app {
//     font-size: 1.5rem;
//   }

//   .overlay {
//     .input {
//       width: 10rem;
//     }
//     .box:hover input {
//       width: 20rem;
//     }
//   }
// }

// @media screen and (min-height: 1200px) {
//   .weather-app {
//     font-size: 1.8rem;
//   }

//   .overlay {
//     .input {
//       width: 12rem;
//     }
//     .box:hover input {
//       width: 25rem;
//     }
//   }
// }
