@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body,
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

$primary-color: #007aff;
$tertiaryColor: rgba(255, 255, 255, 0.5);
$blurry-background-color: #4a90e2;
$shadowColor: rgba(0, 0, 0, 1);
$textColor: white;
$minTempColor: rgba(255, 255, 255, 0.3);
$underLine: 1px solid rgba(255, 255, 255, 0.2);

@mixin textColorCondition() {
  color: $textColor;
  text-shadow: 2px 2px 2px $shadowColor;
}
@mixin backgroundCondition($scaleWidth: 80vw) {
  width: $scaleWidth;
  padding: 0.8rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-size: $defaultFontSize;
  backdrop-filter: blur(40px);
  border-radius: 20px;
  @include textColorCondition();
}

@mixin headerPosition() {
  display: flex;
  align-items: flex-start;
}

@mixin iconSize($height: 35px, $width: 35px) {
  width: $width;
  height: $height;
}

$backgroundSunny: url(/pictures/sunnySky2.jpg);
$backgroundCloudy: url(/pictures/cloudySky.jpg);
$backgroundRainy: url(/pictures/rainySky.jpg);
$backgroundStormy: url(/pictures/stormySky.jpg);

$headerFontSize: 2.5rem;
$subHeaderFontSize: 1.5rem;
$defaultFontSize: 1rem;

.weather-app {
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  //   "Helvetica Neue", Arial, sans-serif;
  height: 100vh;
  text-align: center;
  padding: 0.1rem;
  // background: $backgroundSunny;
  // background: $backgroundCloudy;
  background: $backgroundRainy;
  // background: $backgroundStormy;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.locationHeader {
  font-size: $subHeaderFontSize;
  color: $textColor;
  text-shadow: 2px 2px 2px $shadowColor;
}

.currentWeather {
  color: $textColor;
  text-shadow: 2px 1px 9px $shadowColor;

  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 4rem;

  .currentTemperature {
    font-size: $headerFontSize;
  }
  .currentCondition {
    font-size: $defaultFontSize;
  }

  .currentTemperatureRange {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;

    .currentMaxTemperature {
      text-align: right;
    }
    .currentMinTemperature {
      text-align: left;
    }

    .currentMaxTemperature,
    .currentMinTemperature {
      flex: 1;
      font-size: $defaultFontSize;
    }
  }
}

.hourlyForecastSection {
  @include backgroundCondition();
  margin-bottom: 1rem;
  overflow-x: auto;
  white-space: nowrap;

  .hourlyForecastHeader {
    @include headerPosition();
    padding: 0.2rem;
    margin-bottom: 0.5rem;
    border-bottom: $underLine;
  }

  .hourlyForecastWrapper {
    display: flex;
    padding: 0 0.2rem;
  }

  .hourlyForecast {
    display: inline-block;
    margin-right: 10px;
  }
  .weatherIcon {
    @include iconSize();
  }
}

.forecast7Days {
  @include backgroundCondition();

  .forecastHeader {
    @include headerPosition();
  }
  .forecast {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.2rem;
    border-bottom: $underLine;

    .forecastDay {
      width: 100px;
    }
    .forecastDay,
    .forecastTemp {
      display: flex;
      align-items: center;
      gap: 10vw;
      padding: 5px;
    }

    .forecastTemp {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
      .forecastTempMin,
      .forecastTempMax {
        width: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      // .forecastTempMin {
      //   color: $minTempColor;
      // }
    }
  }
  .weatherIcon {
    @include iconSize();
  }
}

// @media screen and (min-width: 1000px) {
//   .forecast7Days {
//     width: 70vw;
//   }
// }
